<System>
    <CellAutomata>
        <StartingGrid>
            <GridSize>100</GridSize>
            <GridFillPerc>25</GridFillPerc>
        </StartingGrid>
        <TimeElapsed>100</TimeElapsed>
    </CellAutomata>
    <GeneticAlgo>
        <CurrentGeneration>6</CurrentGeneration>
        <PopulationSize>50</PopulationSize>
        <MutationRate>20</MutationRate>
        <CrossoverRate>30</CrossoverRate>
        <ElitismPerc>10</ElitismPerc>
        <FitnessFunction>
            <Weights>
                <ActiveWeight>0.2</ActiveWeight>
                <PercentWeight>0.2</PercentWeight>          
                <AliveWeight>1.0</AliveWeight>
            </Weights>
            <IdealMetrics>
                <Active>
                    <Min>0.01</Min>
                    <Max>0.025</Max>
                </Active>
                <Percent>
                    <Min>0.1</Min>
                    <Max>0.25</Max>
                </Percent>
                <Alive>
                    <Min>0.0</Min>
                    <Max>0.25</Max>
                </Alive>
            </IdealMetrics>
        </FitnessFunction>
        <ConvergeGen>5</ConvergeGen>
    </GeneticAlgo>
    <ConwayClassifier>
        <MaxThreadNumber>2</MaxThreadNumber>
        <StatCalculationPercent>30</StatCalculationPercent>
    </ConwayClassifier>
    <FileLocations>
        <GollyOutput>Simulation</GollyOutput>
    </FileLocations>
</System>