<?xml version="1.0" encoding="UTF-8"?>
<System>
    <CellAutomata>
        <StartingGrid>
            <GridSize>100</GridSize>
            <GridFillPerc>50</GridFillPerc>
        </StartingGrid>
        <TimeElapsed>10</TimeElapsed>
    </CellAutomata>
    <GeneticAlgo>
        <CurrentGeneration>0</CurrentGeneration>
        <PopulationSize>10</PopulationSize>
        <MutationRate></MutationRate>
        <CrossoverRate></CrossoverRate>
        <ElitismPerc></ElitismPerc>
        <FitnessFunction>
            <Class2Weight></Class2Weight>
            <Class3Weight></Class3Weight>
        </FitnessFunction>
    </GeneticAlgo>
    <FileLocations>
        <GollyOutput>GeneticAlgorithm\Generation_</GollyOutput>
    </FileLocations>
</System>
