<System>
    <CellAutomata>
        <StartingGrid>
            <GridSize>100</GridSize>
            <GridFillPerc>50</GridFillPerc>
        </StartingGrid>
        <TimeElapsed>10</TimeElapsed>
    </CellAutomata>
    <GeneticAlgo>
        <CurrentGeneration>0</CurrentGeneration>
        <PopulationSize>10</PopulationSize>
        <MutationRate>0</MutationRate>
        <CrossoverRate>0</CrossoverRate>
        <ElitismPerc>0</ElitismPerc>
        <FitnessFunction>
            <Class2Weight>0</Class2Weight>
            <Class3Weight>0</Class3Weight>
        </FitnessFunction>
    </GeneticAlgo>
    <FileLocations>
        <GollyOutput>Simulation</GollyOutput>
    </FileLocations>
</System>